<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.alunny.amazing"
	version 	= "99.999">

	<name> Thomas sin amazing app</name>

	<description>
		En amazing APP av Thomas
	</description>

	<author href="http://alunny.github.com"
		email="Thomas.tveten@gmail.com">
		Thomas Tveten
	</author>

	<icon src="galaxy.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
